@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: aliceblue;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  display: flex;
  column-gap: 20px;
}

.block {
  background-color: darkmagenta;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

.link {
  margin-bottom: 10px;
}

.radio-buttons {
  display: flex;
  column-gap: 20px;
}

.radio-buttons button {
  background-color: darkmagenta;
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 5px;
}

.radio-buttons button:hover {
  cursor: pointer;
}

.timer {
  text-align: right;
  width: 100%;
  background: aquamarine;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer button:hover {
  cursor: pointer;
}

.timer button {
  background-color: darkmagenta;
    border: none;
    color: white;
    padding: 10px 20px;
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 5px;
}

.previous-attempts {
  margin-top: 50px;
  width: 100%;
}

.previous-attempts .heading {
  margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.previous-attempts .nav {
  justify-content: center;
  margin-bottom: 20px;
}

.widget {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #0d6efd;
}

.widget:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

.attempt-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: white;
}

.attempt-card .question {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 150px;
}

.attempt-card .questions {
  display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.attempts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.attempt-card .header {
  display: flex;
  justify-content: space-between;
}

.question-iframe {
  height: calc(100vh - 150px);
  width: 100%;
}

.question-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 10px;
}

.MathJax {
  display: inline;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 100%;
  font-size-adjust: none;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.MathJax_Preview {
  display: none;
}

.MJX_Assistive_MathML {
  display: none;
}

.twoRowsBlock {
  display: none;
}

.spoiler {
  display: none;
}

.post_signature {
  display: none;
}

.question-container {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.options {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.options .option {
  display: flex;
  align-items: center;
  column-gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
  background-color: white;
}

.options .option:hover {
  cursor: pointer;
  background-color: lightgray;
}

.options .selected {
  background-color: darkmagenta;
  color: white;
}